version: '3.7'

services:
  postgres:
    image: postgres:16.0
    ports:
      - '8090:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: serverpod_app
      POSTGRES_PASSWORD: "jQRbe3skoAWwTJd3K9BcWCJzOORQLRjs"
    volumes:
      - serverpod_app_data:/var/lib/postgresql/data
  redis:
    image: redis:7.2.1
    ports:
      - '8091:6379'
    command: redis-server --requirepass "UF5QdGjXTL_qT5pXMCrqUnARD8CXQHQi"
    environment:
      - REDIS_REPLICATION_MODE=master
volumes:
  serverpod_app_data:
